<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>about</title>
</head>
<body>

	<p>3. Believe and think
“Believe” and “think” imply something is opinion or indicate doubt in its validity. Both are bad for your copywriting. People are more interested in the facts and hard information than they are in vague thoughts. Even if you’re writing an opinion piece, readers should understand that based on the context, making “I think” a needless phrase.</p>


</body>
</html>