<!DOCTYPE html>
<html style="background-image: url(https://cutewallpaper.org/28/cool-simple-background-wallpaper/11975901.jpg);">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Ershied &Co</title>
</head>
<body>
<div>

<button style="background-color: darkgray; color: white; width: 270px; line-height: 45px; font-size: 17px;">Home</button>

<a href="/about"><button style="background-color: darkgray; color: white; width: 270px; line-height: 45px; font-size: 17px;">About</button></a>

<button style="background-color: darkgray; color: white; width: 270px; line-height: 45px; font-size: 17px;">^Projects^</button>

<button style="background-color: darkgray; color: white; width: 270px; line-height: 45px;  font-size: 17px;">Contact</button>

<button style="background-color: darkgray; color: white; width: 270px; line-height: 45px; font-size: 17px;" >Why Choose Us?</button>

</div>
<iframe width="560" height="315" src="https://www.youtube.com/embed/4bNftyF2Li0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p style="color:white;"> Yk, Ak was established in 1998-2006. In our company, we're offering the best real estate assists and rentals. Our ision is to buil and expand all over the region till we reach the other side of the ocean. In our projects you can find projects in different places around the region, and all You have to do, is pick the perfect place that fits you. You can find rental houses as well, where you will be renring your house from US. For more info you can contact us. </p>

</body>
</html>